* { 
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}

html, body { 
	flex: 1;
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

div,
html,
body,
header,
footer,
section,
article {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

h1, h2 , h3, h4, h5, h6, p {
	color: white;
}

#unique::after {
	--pop-bg-color: #FF0000;
	--pop-font-size: 16px;
	--pop-padding: 20px;
}

#unique::before {
	--pop-bg-color: #FF0000;
}

.orange-text {
	color: #f7be16;
}

body {
	background: #00818a;
}

header {
	flex: 0 0 auto;
	flex-direction: row;
	background: #293462;
}

.header-logo {
	flex: 0 0 auto;
	flex-direction: row;
	align-items: center;
	margin-left: 2rem;
}

#header-logo-text {
	color: #f7be16;
}

.header-links {
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.header-links a {
	color: white;
	text-decoration: none;
	margin: 0 25px 0 25px;
	font-size: 16px;
	transition: all ease-in-out 0.1s;
}

#examples-nav {
	justify-content: space-evenly;
}

#examples-nav a {
	color: #252525;
	text-decoration: none;
	margin: 0 25px 0 25px;
	font-size: 16px;
	transition: all ease-in-out 0.1s;
	text-decoration: underline;
  -webkit-text-decoration-color: #f7be16; /* Safari */  
  text-decoration-color: #f7be16;
}

.header-links a:hover, #examples-nav a:hover {
	color: #f7be16;
}

.header-actions {
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

#intro {
	justify-content: center;
}

main {
	flex: 1;
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
}

#issues {
	flex-direction: column;
}

footer {
	flex: 0 0 auto;
	background: #f7be16;
	text-align: center;
	color: #252525;
}

section {
	flex-direction: row;
	margin: 20px;
}

.section-left, .section-right {
	flex: 0 0 50%;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.installation {
	flex-direction: column;
}

pre {
	-webkit-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
}

.info-block {
	-webkit-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	padding: 10px;
	background: white;
}

button {
	border-radius: 5px;
	background: #ec9b3b;
	color: aliceblue;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: all linear 0.1s;
	width: 160px;
}

button:hover {
	background: #f7be16;
}

table {
	border: none;
	border-collapse: collapse;
	flex: 1;
	-webkit-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
}

td, th {
  padding: 8px;
}

tr {
	background-color: #ccc;
	color: #252525;
}

tr:nth-child(even) {
	background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f7be16;
  color: white;
}

@media only screen and (max-width: 768px) {
	.header-actions, .header-links, #examples-nav {
		display: none;
	}

	main {
		width: 90vw;
	}

	section {
		flex-direction: column;
	}

	.section-left, .section-right {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	pre[class*=language-] code {
    white-space: pre-wrap;
		word-wrap: break-word;
	}
}